@import '../../colors.scss';

.filterDataContainer {
    cursor: pointer;
    .title {
        font-weight: bold;
        border: 1px solid $default-background-color;
        border-radius: 5px;
        padding-left: 5%;
        .toggleIcon {
            float: right;
        }
    }
    .hide {
        display: none;
    }
    .show {
        display: block;    
        border: 1px solid $default-background-color;
        padding-left: 5%;    
        border: 1px solid $default-background-color;
    }
}