@import '../colors.scss';

.homeContainer {
    .vehicleInfoMask {
        // border: 1px solid  rgb(134, 132, 132);
        margin-bottom: 5%;
        border-radius: 5px;
        box-shadow: 0 3px 16px $default-background-color;
        .vehicleInfoCss {
            padding: 5%;
            .title {
                font-weight: bold;
            }
            .vehiclePriceCss {
                font-weight: bold;
                color: $price-background-color;
                font-size: 20px;
                border-bottom: 1px solid $default-background-color;
            }
            .vehicleLocationCss {
                margin-top: 2%;
                font-size: 12px;
                color:  $default-background-color;
            }
        }
    }    
}