.appContainer {
    padding-top: 3.5%;
    display: flex;
    flex-direction: row;
    // margin: 0.5%;

    .appLeftMenuContainer {
        width: 15%;
        padding: 0.5%;
        overflow-y: scroll;
    }

    .appHomeContainer {
        width: 84%;
        padding: 0.5%;
    }
}